{% load static %}
{% load article_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="Django, news" />
    <meta name="description" content="A simple news app built with  Django" />
    <title>Bits o' News |
      {% block title %}
      {% endblock title %}
    </title>
    <link rel="shortcut icon"
          type="image/x-icon"
          href="{% static 'images/favicon.ico' %}" />
    <!-- Bootstrap4 CSS -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
          crossorigin="anonymous">
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{% url 'article_list' %}">Newspaper</a>
      {% if user.is_authenticated %}
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="btn btn-outline-light text-light"
               href="{% url 'article_new' %}">Add Article</a>
          </li>
        </ul>
      {% endif %}
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {% if user.is_authenticated %}
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <form class="navbar-form navbar-left form-inline mt-2 mt-md-0"
                    action="{% url 'article_search' %}"
                    method="get">
                <input name="query"
                       class="form-control mt-2 mr-sm-2"
                       type="text"
                       placeholder="Search..."
                       aria-label="Search">
              </form>
            </li>
            <li class="nav-item">
              <a class="nav-link dropdown-toggle"
                 href="#"
                 id="navbarDropdown"
                 role="button"
                 data-toggle="dropdown"
                 aria-haspopup="true"
                 aria-expanded="false">{{ user.username }}</a>
              <div class="dropdown-menu dropdown-menu-right"
                   aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'user_detail' user.username %}">My Profile</a>
                <a class="dropdown-item" href="{% url 'account_set_password' %}">Change password</a>
                <a class="dropdown-item" href="{% url 'account_reset_password' %}">Forgot password?</a>
                <a class="dropdown-item" href="{% url 'account_email' %}">Change email</a>
                <a class="dropdown-item" href="{% url 'account_logout' %}">Log Out</a>
                <a class="dropdown-item" href="{% url 'about' %}">About</a>
              </div>
            </li>
          </ul>
        {% else %}
          <form class="form-inline ml-auto">
            <a href="{% url 'account_login' %}" class="btn btn-outline-secondary">Log In</a>
            <a href="{% url 'account_signup' %}" class="btn btn-primary ml-2">Sign up</a>
            <a href="{% url 'about' %}" class="btn btn-outline-secondary ml-2">About</a>
          </form>
        {% endif %}
      </div>
    </nav>
    <main>
      <div class="container">
        {% if messages %}
          {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
          {% endfor %}
        {% endif %}
        <div id="content">
          {% block content %}
          {% endblock content %}
        </div>
        <div class="sidebar">
          <h5>Welcome to the news!</h5>
          <p>
            Some of the news that didn't get printed.
            There have been {% total_articles %} articles written so far.
          </p>
          <p>
            <a href="{% url "article_feed" %}">
              <img src="{% static 'images/rss-24.png' %}"
                   alt="RSS Feed"
                   height="24"
                   width="24">
            </a>
            <a href="{% url "article_feed" %}">Subscribe to the news RSS feed</a>
          </p>
          <p>
            <a href="{% url "article_search" %}">
              <img class="ml-2 mr-2"
                   src="{% static 'images/search.svg' %}"
                   alt="RSS Feed"
                   height="18"
                   width="18">
            </a>
            <a href="{% url "article_search" %}">Article Search</a>
          </p>
          <h5>Recent articles</h5>
          {% show_latest_articles %}
          <h5>Most commented articles</h5>
          {% get_most_commented_articles as most_commented_articles %}
          <ul>
            {% for article in most_commented_articles %}
              <li>
                <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </main>

    <!-- Bootstrap4 JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
            integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
            crossorigin="anonymous"></script>
    <!-- JavaScript -->
    <!-- Begin footer -->
    <div id="footer">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom">
        <div class="col-md-12 col-sm-12 col-sm-push-6">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item col-md-2">
              <p class="copyright">© 2023 news®</p>
            </li>
            <li class="nav-item col-md-2"></li>
            <li class="nav-item col-md-2">
              <a class="btn btn-outline-light btn-sm mt-1"
                 href="https://github.com/kevinbowen777/news"
                 target="_blank">Source Code</a>
            </li>
            <li class="nav-item col-md-2">
              <a class="btn btn-outline-light btn-sm mt-1"
                 href="https://github.com/kevinbowen777/news/issues"
                 target="_blank">Bug Reports</a>
            </li>
            <li class="nav-item col-md-2">
              <a class="btn btn-outline-light btn-sm mt-1" href="{% url "contact" %}">Contact Us</a>
            </li>
            <li class="nav-item col-md-2">
              <a class="btn btn-outline-light btn-sm mt-1" href="{% url "about" %}">About Us</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <!-- End footer -->
  </body>
</html>
